
.login {
    position: absolute;
    width: 100%;
}

.login-show {
    animation: .8s ease-in floatIn;
    opacity: 1;
}

.login-hide {
    animation: .8s ease-out floatOut;
    opacity: 0;
    z-index: -1;
}

@keyframes floatIn {
    0% {
        transform: translateX(-100px);
        z-index: -999;
        opacity: 0;
    }
    1% {
        z-index: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes floatOut {
    100% {
        opacity: 0;
        z-index: -999;
    }
    99% {
        z-index: 1;
    }
    0% {
        opacity: 1;
        z-index: 1;
    }
}
