
.loader-show {
    opacity: 1;
    height: 100%;
}

.loader-hide {
    opacity: 0;
    height: 100%;
}

.loader-hidden {
    z-index: -999;
    opacity: 0;
}

.loader-shown {
    opacity: 1;
    height: 100%;
}

.curtain {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}
