
html {
    height: 100%;
    background: linear-gradient(335deg, rgb(130, 131, 143), rgb(227, 227, 227));
}

.dunwoody-nav {
    border-top: 2px solid #BB0000 !important;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
