
.loader.fadein {
    opacity: 1;
}

.loader.hide {
    opacity: 0;
}

.loader.hidden {
    z-index: -999;
    opacity: 0;
}

.loader.show {
    opacity: 1;
}

.loader {
    display: flex;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    z-index: 999;
}
